---
layout: null
title: پروژه ها
---
{% if site.data.projects.size > 0 %}
<div class="list-group">
    {% for project in site.data.projects %}
    <a href="/projects/{{ project.slug }}/" class="list-group-item no-padding">
        <div class="media">
            <div class="pull-left">
                <img class="media-object" src="/projects/{{ project.slug }}/{{ project.logo }}"
                     alt="{{ project.name }}" width="150">
            </div>
            <div class="media-body">
                <h4 class="media-heading">{{ project.name }}</h4>
                {% if project.subtitle %}<p class="hidden-xs">{{ project.subtitle }}</p>{% endif %}
            </div>
        </div>
    </a>
    {% endfor %}
</div>
{% else %}
<p>There are no projects on {{ site.domain }}</p>
{% endif %}