@font-face {
    font-family: 'Samim-persian';
    src: url('../../assets/fonts/Samim-persian-digits-overwrite.woff') format('woff');
}

* {
    padding: 0;
    margin: 0
}

body {
    direction: rtl;
    text-align: right;
    font-family: Samim-persian, sans-serif;
    background-color: #f0f0f0;
    color: #565656;
    font-size: 13px;
    overflow-y: scroll;
    overflow-x: hidden;
}

a {
    text-decoration: none;
    color: #1f1f1f;
}

a:hover {
    text-decoration: none;
    color: #5d8ba6;
}

.clear {
    clear: both;
}

#logo {
    float: left;
    position: absolute;
    bottom: 15px;
    left: 0;
    font-size: 42px;
    font-weight: bold;
}

#page-top {
    padding-bottom: 20px
}

#header-wrapper {
    min-width: 980px;
    height: 88px;
    background: transparent url(header-bg.png) repeat-x center bottom;
}

#header {
    width: 980px;
    height: 88px;
    margin: 0 auto;
    position: relative;
    z-index: 999;
}

#menu-wrapper {
    float: right;
    position: absolute;
    bottom: 23px;
    right: 0;
}

#menu-wrapper ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

#menu-wrapper ul li {
    position: relative;
    display: inline;
    float: left;
    clear: none;
    margin-left: 20px;
    padding-left: 10px;
}

#main-wrapper {
    width: 980px;
    margin: 20px auto;
}

.box {
    padding: 20px;
    margin: 2px 0 0 0;
    background-color: #FFF;
    -moz-box-shadow: 0 1px 2px #9f9f9f;
    -webkit-box-shadow: 0 1px 2px #9f9f9f;
    box-shadow: 0 1px 2px #9f9f9f;
}

.box-left {
    float: left;
    width: 560px;
}

.box-right {
    float: right;
    width: 320px;
}

.box-left .logo {
    width: 125px;
    height: 125px;
    float: right;
}

.box-left header h1 {
    padding: 20px;
    float: right;
}

.box-left .line {
    height: 1px;
    background: #bbbbbb;
    text-align: center;
    margin: 50px 0;
}

.box-left .line span {
    background: #fff;
    position: relative;
    top: -9px;
    padding: 0 10px;
}

.box-left .description {

}

.dl-links {
    text-align: center;
    padding-top: 20px;
}

.images {
    position: relative;
}

.images img {
    width: 100%;
}

.box-right .images .next {
    background-color: rgba(128, 128, 128, 0.5);
    position: absolute;
    top: 50%;
    margin-top: -40px;
    right: 0;
    width: 25%;
    opacity: 0;
    text-align: center;
    -webkit-transition: all 300ms;
    transition: all 300ms;
}

.next:hover {
    cursor: pointer;
    padding-right: 10px;
}

.box-right .images .previous {
    background-color: rgba(128, 128, 128, 0.5);
    position: absolute;
    top: 50%;
    margin-top: -40px;
    left: 0;
    width: 25%;
    opacity: 0;
    text-align: center;
    -webkit-transition: all 300ms;
    transition: all 300ms;
}

.previous:hover {
    cursor: pointer;
    padding-left: 10px;
}

#footer-wrapper {
    height: 45px;
    padding-top: 100px;
}

#footer {
    min-width: 960px;
    height: 45px;
    background: transparent url(footer-bg.png) repeat-x top center;
}

#footer-content {
    width: 960px;
    height: 45px;
    margin: 0 auto;
    position: relative;
}

#copyright {
    float: left;
    position: absolute;
    top: 15px;
    left: 0;
}

#socials {
    float: right;
    position: absolute;
    top: 16px;
    right: 0;
}

ul {
    list-style: none;
}

#socials ul li {
    float: left;
    margin-left: 10px;
    background: none;
}

/*-----------------------------------------------------------------------------------*/
/*	10.	PORTFOLIO
/*-----------------------------------------------------------------------------------*/
#main-wrapper ul {
    text-align: center;
}

#main-wrapper ul.grid {
    width: 985px;
    overflow: hidden;
    margin: 0 auto 0 -20px;
    padding: 0;
}

ul.grid:after {
    content: "";
    display: block;
    height: 0;
    overflow: hidden;
    clear: both;
}

ul.grid li {
    width: 156px;
    margin: 0 0 20px 20px;
    float: left;
    overflow: hidden;
    background: #fff;
    padding: 10px;
    -moz-box-shadow: 0 1px 2px #8e8e8e;
    -webkit-box-shadow: 0 1px 2px #8e8e8e;
    box-shadow: 0 1px 2px #8e8e8e;
}

ul.grid li a {
    outline: 0;
}

ul.grid li img {
    display: block;
    width: 100%;
}

ul.grid li img:hover {
    opacity: 0.75;
}

ul.grid li a div {
    margin-top: 10px;
    height: 35px;
}

ul.gallerynav {
    width: 960px;
    margin: 0 auto 22px;
    height: 14px;
    background-color: #FFF;
    -moz-box-shadow: 0 1px 2px #9f9f9f;
    -webkit-box-shadow: 0 1px 2px #9f9f9f;
    box-shadow: 0 1px 2px #9f9f9f;
}

ul.gallerynav li {
    float: left;
}

ul.gallerynav li a {
    float: left;
    font-family: Samim-persian, sans-serif;
    color: #565656;
    margin: 0 15px;
    font-size: 15px;
    line-height: 18px;
    padding: 8px 0;
}

ul.gallerynav li a:hover {
    text-decoration: none;
    color: #5d8ba6;
}

ul.gallerynav li.selected-1 a {
    color: #5d8ba6;
}

.hidden {
    display: none;
}

@media screen and (max-width: 736px) {

}