<!-- Mini Post -->
<article class="mini-post">
    <header>
        <h3><a href="{{ post.url }}">{{ post.title }}</a></h3>
        <time class="published" datetime="{{ post.date | date: '%Y-%m-%d' }}}">
            {{ post.date | date: "%b %-d, %Y"}}
        </time>

        {% if post.author %}
        {% assign author = site.data.authors[post.author] %}
        {% if author %}
        <a href="https://github.com/{{ author.github }}" class="author" target="_blank">
            <img src="{{ author.avatar }}" alt="{{ author.name }}"/>
        </a>
        {% endif %}
        {% endif %}

    </header>
    <a href="{{ post.url }}" class="image"><img src="{{ post.image }}" alt="{{ post.title }}"/></a>

</article>