<!-- Pagination -->
<ul class="actions pagination">

    {% if paginator.next_page%}
    <li><a href="{{ paginator.next_page_path }}" class="button big previous">قدیمی تر</a></li>
    {% else %}
    <li><a class="disabled button big previous">قدیمی تر</a></li>
    {% endif %}

    <li><a class="disabled button big" style="color: #3c3b3b !important;">
        صفحه
        {{ paginator.page }}
        از
        {{ paginator.total_pages }}

    </a></li>

    {% if paginator.previous_page %}
    <li><a href="{{ paginator.previous_page_path }}" class="button big next">جدید تر</a></li>
    {% else %}
    <li><a class="disabled button big next">جدید تر</a></li>
    {% endif %}
</ul>

<!-- Pagination links -->
<div class="pagination center" style="display: none">
    {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path }}" class="previous">جدیدتر</a>
    {% else %}
    <span class="previous">جدیدتر ندارد</span>
    {% endif %}
    &nbsp❖&nbsp<span class="page_number ">
  برگه‌ی {{ paginator.page | habify}} از {{ paginator.total_pages | habify}}
  </span>
    &nbsp❖&nbsp
    {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path }}" class="next">قدیمی‌تر</a>
    {% else %}
    <span class="next ">قدیمی‌تر ندارد</span>
    {% endif %}
</div>