<!-- Sidebar -->
<section id="sidebar">

    <!-- Intro -->
    <section id="intro">
        <a href="/blog" class="logo"><img src="/assets/images/17301305.png" alt=""/></a>
        <header>
            <h2>آینده همین الان است!</h2>
            <p>با ما باشید</p>
        </header>
    </section>

    <!-- Mini Posts -->
    <section>
        <div style="margin-top: -2em;padding-bottom: 1em">آخرین مطالب</div>
        <div class="mini-posts">

            {% for post in site.posts limit:3%}
            {% include mini_post.html %}
            {% endfor %}

        </div>
    </section>

    <!-- Posts List --
    <section>
        <ul class="posts">
            {% for post in site.posts limit:0%}
            {% include posts_list_item.html %}
            {% endfor %}
        </ul>
    </section>-->

    <!-- About -->
    <section class="blurb">
        <h2>درباره</h2>
        <p>{{ site.about }}</p>
        <ul class="actions">
            <li><a href="/about" class="button">بیشتر</a></li>
        </ul>
    </section>

    <!-- Footer -->
    <section id="footer">
        <ul class="icons">
            {% if site.twitter %}
            <li><a href="{{ site.twitter }}" class="fa-twitter"><span class="label">Twitter</span></a></li>
            {% endif %}

            {% if site.facebook %}
            <li><a href="{{ site.facebook }}" class="fa-facebook"><span class="label">Facebook</span></a></li>
            {% endif %}

            {% if site.instagram %}
            <li><a href="{{ site.instagram }}" class="fa-instagram"><span class="label">Instagram</span></a></li>
            {% endif %}

            <li><a href="/feed.xml" class="fa-rss"><span class="label">RSS</span></a></li>

            {% if site.email %}
            <li><a href="mailto:{{ site.email }}" class="fa-envelope"><span class="label">Email</span></a></li>
            {% endif %}
        </ul>
        <p class="copyright">&copy; Design: <a href="http://html5up.net">HTML5 UP</a>. RTL: <a
                href="{{ site.base_url }}">ZAAFERANI</a>.</p>
    </section>

</section>