<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{{ site.description }}">
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">

    <!--[if lte IE 8]>
    <script src="{{ '/assets/js/ie/html5shiv.js' | prepend: site.base_url }}"></script><![endif]-->
    <link rel="stylesheet" href="{{ '/assets/css/main.css' | prepend: site.base_url }}"/>
    <link rel="stylesheet" href="{{ '/assets/css/portfolio.css' | prepend: site.base_url }}"/>
    <noscript>
        <link rel="stylesheet" href="{{ '/assets/css/noscript.css' | prepend: site.base_url }}"/>
    </noscript>
    <!--[if lte IE 8]>
    <link rel="stylesheet" href="{{ '/assets/css/ie8.css' | prepend: site.base_url }}"/><![endif]-->

</head>
<body>

<!-- Wrapper-->
<div id="wrapper">

    <!-- Nav -->
    <nav id="nav">
        <a href="#me" class="icon fa-home active"><span>خانه</span></a>
        <a href="#work" class="icon fa-folder"><span>نمونه کارها</span></a>
        <a href="/blog" class="icon fa-tags"><span>بلاگ</span></a>

        {% if site.github_username %}
        <a href="https://github.com/{{ site.github_username }}" target="_blank"
           class="icon fa-github"><span>Github</span></a>
        {% endif %}

        {% if site.twitter_username %}
        <a href="http://twitter.com/{{ site.twitter_username }}" class="icon fa-twitter"><span>Twitter</span></a>
        {% endif %}

        {% if site.facebook_username %}
        <a href="http://facebook.com/{{ site.facebook_username }}" class="icon fa-facebook"><span>Facebook</span></a>
        {% endif %}

        {% if site.instagram_username %}
        <a href="http://instagram.com/{{ site.instagram_username }}"
           class="icon fa-instagram"><span>Instagram</span></a>
        {% endif %}

        {% if site.google_plus_username %}
        <a href="http://plus.google.com/{{ site.google_plus_username }}"
           class="icon fa-google-plus"><span>Google Plus</span></a>
        {% endif %}

        {% if site.email %}
        <a href="mailto:{{ site.email }}" class="icon fa-envelope"><span>Email</span></a>
        {% endif %}

        <a href="#info" class="icon fa-info-circle"><span>بیوگرافی و رزومه کاری</span></a>
    </nav>

    <!-- Main -->
    <div id="main">

        <!-- Me -->
        <article id="me" class="panel">
            <header>
                <h1>{{ site.name }}</h1>
                <p>{{ site.description }}</p>
                <a href="/blog" class="projects-more object">بلاگ</a>
            </header>
            <a href="#work" class="jumplink pic">
                <span class="arrow icon fa-chevron-right"><span>See my work</span></span>
                <img src="/assets/images/me.jpg" alt="{{ site.name }}"/>
            </a>
        </article>

        <!-- Work -->
        <article id="work" class="panel">
            <header>
                <h2>نمونه کارها</h2>
            </header>
            <div id="main-container-image">

                <div class="work">
                    {% for project in site.data.projects %}
                    <figure class="white">
                        <a href="/projects/{{ project[0] }}">
                            <img src="/projects/{{ project[0] }}/{{ project[1].logo }}" alt="{{ project[1].name }}">
                            <dl>
                                <dt>{{ project[1].name | truncate:5}}</dt>
                                <dd>{{ project[1].description | strip_html | truncatewords:5}}</dd>
                            </dl>
                        </a>
                        <div class="part-info">{{ project[1].name }}</div>
                    </figure>
                    {% endfor %}
                </div>

            </div>
            <div style="clear: both"></div>

            <div style="text-align: center;margin: 10px 0">
                <a href="/projects" class="projects-more object">بیشتر</a>
            </div>
        </article>

        <!-- Info -->
        <article id="info" class="panel">
            <header>
                <h2>بیوگرافی و رزومه کاری</h2>
            </header>
        </article>

    </div>

    <!-- Footer -->
    <div id="footer">
        <ul class="copyright">
            <li>&copy; Untitled.</li>
            <li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
        </ul>
    </div>

</div>

<!-- Scripts -->
<script src="/assets/js/jquery.min.js"></script>
<script src="/assets/js/skel.min.js"></script>
<script src="/assets/js/skel-viewport.min.js"></script>
<script src="/assets/js/util.js"></script>
<!--[if lte IE 8]>
<script src="/assets/js/ie/respond.min.js"></script><![endif]-->
<script src="/assets/js/main.js"></script>

</body>
</html>
