---
layout: blog
---
<!-- Post -->
<article class="post">
    <header>
        <div class="title">
            <h2><a href="{{ page.url }}">{{ page.title }}</a></h2>
            <!--<p>یک توضیح مختصر</p>-->
        </div>
        <div class="meta">
            <time class="published" datetime="2015-11-01">{{ page.date | jdate: "%A %e %b %Y"}}</time>
            {% if page.author %}
            {% for author in site.data.authors %}
            {% if author.username == page.author %}
            <a href="https://github.com/{{ author.github }}" class="author" target="_blank">
                <span class="name">{{ author.name }}</span>
                <img src="{{ author.avatar }}" alt="{{ author.name }}"/>
            </a>
            {% break %}
            {% endif %}
            {% endfor %}
            {% endif %}
        </div>
    </header>
    {% if page.image %}
    <a href="#" class="image featured"><img src="{{ page.image }}" alt="{{ page.title }}"/></a>
    {% endif %}
    <p>
        {{ content }}
    </p>

    <div style="border-top: 1px solid #e8e8e8;padding: 1em 0">موضوع:
        {% for cat in page.categories %}
        <a href="/blog/category/{{ cat }}">{{ cat }}</a>
        {% unless forloop.last %} - {% endunless %}
        {% endfor %}
        <br>برچسب:
        {% for tag in page.tags %}
        <a href="/blog/tag/{{ tag }}">{{ tag }}</a>
        {% unless forloop.last %} - {% endunless %}
        {% endfor %}
    </div>
    <footer>
        {% include share.html %}
    </footer>
</article>

<!-- Pagination -->
<ul class="actions pagination">

    {% if page.previous %}
    <li><a href="{{ page.previous.url }}" class="button big previous">{{ page.previous.title }}</a></li>
    {% endif %}

    {% if page.next %}
    <li><a href="{{ page.next.url }}" class="button big next">{{ page.next.title }}</a></li>
    {% endif %}
</ul>