---
layout: blog
---
<!-- Post -->
<article class="post">
    <header>
        <div class="title">
            <h2><a href="{{ page.url }}">{{ page.title }}</a></h2>
            <!--<p>یک توضیح مختصر</p>-->
        </div>
        <div class="meta">
            <time class="published" datetime="{{ page.date | date: '%Y-%m-%d' }}">
                {{ page.date | jdate: "%A %e %b%Y"}}
            </time>

            {% if page.author %}
            {% assign author = site.data.authors[page.author] %}
            {% if author %}
            <a href="https://github.com/{{ author.github }}" class="author" target="_blank">
                <span class="name">{{ author.name }}</span>
                <img src="{{ author.avatar }}" alt="{{ author.name }}"/>
            </a>
            {% else %}
            <a href="#" class="author">
                <span class="name">{{ page.author }}</span>
            </a>
            {% endif %}
            {% endif %}
        </div>
    </header>
    {% if page.image %}
    <a href="{{ page.url }}" class="image featured"><img src="{{ page.image }}" alt="{{ page.title }}"/></a>
    {% endif %}
    <p>
        {{ content }}
    </p>

    <div style="border-top: 1px solid #e8e8e8;padding: 1em 0">موضوع:
        {% for cat in page.categories %}
        {% assign cat_name = site.data.categories[cat] %}
        {% if cat_name %}
        <a href="/blog/category/{{ cat }}">{{ cat_name.name }}</a>
        {% unless forloop.last %} , {% endunless %}
        {% endif %}
        {% endfor %}

        <br>برچسب ها:
        {% for tag in page.tags %}
        <a href="/blog/tag/{{ tag }}">{{ tag }}</a>
        {% unless forloop.last %} , {% endunless %}
        {% endfor %}
    </div>
    <footer>
        {% include share.html %}
    </footer>
</article>

<!-- Pagination -->
<ul class="actions pagination">

    {% if page.previous %}
    <li><a href="{{ page.previous.url }}" class="button big previous">{{ page.previous.title }}</a></li>
    {% endif %}

    {% if page.next %}
    <li><a href="{{ page.next.url }}" class="button big next">{{ page.next.title }}</a></li>
    {% endif %}
</ul>