<!DOCTYPE html>
<html lang="en">
<head>
    {% assign app = site.data.projects[page.package_name] %}
    <meta charset="UTF-8">
    <title>{{ app.name }}</title>
    <link rel="stylesheet" href="/projects/assets/style.css"/>
    <script src="/assets/js/jquery.min.js"></script>
    <script>
        $(document).ready(function () {
            var screenShotCurrentIndex = 0;
            var screenShots = $('.images>img');
            setCounter();

            $(".images").mouseover(function () {
                if (screenShots.size() > 1) {
                    $(".next").css("opacity", 1);
                    $(".previous").css("opacity", 1);
                }
            });
            $(".images").mouseout(function () {
                if (screenShots.size() > 1) {
                    $(".next").css("opacity", 0);
                    $(".previous").css("opacity", 0);
                }
            });

            $(document).on('click', '.previous', function () {
                $(screenShots.get(screenShotCurrentIndex)).css("display", "none");
                screenShotCurrentIndex--;
                if (screenShotCurrentIndex < 0)
                    screenShotCurrentIndex = screenShots.size() - 1;
                $(screenShots.get(screenShotCurrentIndex)).css("display", "block");
                setCounter();
            });
            $(document).on('click', '.next', function () {
                $(screenShots.get(screenShotCurrentIndex)).css("display", "none");
                screenShotCurrentIndex++;
                if (screenShotCurrentIndex == screenShots.size())
                    screenShotCurrentIndex = 0;
                $(screenShots.get(screenShotCurrentIndex)).css("display", "block");
                setCounter();
            });

            function setCounter() {
                var t = screenShotCurrentIndex + 1;
                var c = t + " / " + screenShots.size();
                $('#counter').text(c);
            }
        });
    </script>
</head>
<body>
<header>
    <div id="page-top">
        <div id="header-wrapper">
            <div id="header">
                <div id="logo"><a href="/projects">نمونه کارها</a></div>
                <!-- Begin Menu -->
                <div id="menu-wrapper">
                    <ul>
                        <li><a href="https://github.com/{{ site.github_username }}" target="_blank">Github</a></li>
                        <li><a href="/blog">بلاگ</a></li>
                        <li><a href="/about">درباره</a></li>
                        <li><a href="http://{{ site.domain }}">خانه</a></li>
                    </ul>
                </div>
                <!-- End Menu -->
            </div>
        </div>
    </div>
</header>
<div id="main-wrapper">
    <article>
        <div class="box box-left">
            <header>
                <img src="/projects/{{ page.package_name }}/{{ app.logo }}" class="logo">
                <h1>{{ app.name }}</h1>
            </header>
            <div class="clear"></div>
            <div class="line">
                <span>توضیحات</span>
            </div>
            <div class="description">
                {{ app.description }}
            </div>
        </div>
        <div class="box box-right">
            <div class="images">
                {% for shot in app.screen_shots %}
                <img src="/projects/{{ page.package_name }}/{{ shot.image_name }}" {% unless forloop.first %}
                     style="display: none" {% endunless %}>
                {% endfor %}
                <a class="next">
                    <img src="/projects/assets/ic_action_next_item.png">
                </a>
                <a class="previous">
                    <img src="/projects/assets/ic_action_previous_item.png">
                </a>
            </div>
            <div id="counter" style="text-align: center">

            </div>

            <div class="dl-links">
                {% for link in app.links %}
                <a href="{{ link.url }}" target="_blank">
                    <img src="/projects/assets/bazaar.png" alt="{{ link.name }}" title="{{ link.name }}">
                </a>
                {% endfor %}

            </div>
        </div>
    </article>
    <div class="clear"></div>
</div>
<!--
<footer>
    <div id="footer-wrapper">
        <div id="footer">
            <div id="footer-content">

                <div id="copyright">
                    <p>© Copyright 2016</p>
                </div>

                <div id="socials">
                    <ul>
                        <li><a href="#"><img src="style/images/icon-rss.png" alt=""></a></li>
                    </ul>
                </div>

            </div>
        </div>
    </div>
</footer>
-->
</body>
</html>



